<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Forgot Password</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                font-size: 16px;
                line-height: 1.5;
                color: #333;
            }
            h1 {
                font-size: 24px;
                margin-top: 30px;
                margin-bottom: 10px;
            }
            a {
                color: #007bff;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <p>Dear <%=  user.name  %>,</p>
        <p>You have requested to reset your password. Please use the following verification code to reset your password:</p>
        <h1><%= user.resetCode %></h1>
        <p>This verification code will expire in 5 minutes.</p>
        <p>Thank you,</p>
        <p>The LMS Team</p>
    </body>
</html>
